
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email == 'isaacmargues03@gmail.com';
    }

    match /tokens_resgate/{tokenId} {
      // Qualquer pessoa logada pode verificar se um token existe
      allow get: if isSignedIn();
      // Apenas admin pode listar todos ou criar novos
      allow list, create: if isAdmin();
      // Permitir atualização se for o Admin OU se o usuário estiver marcando um token não usado como usado
      allow update: if isAdmin() || (
        isSignedIn() && 
        resource.data.usado == false && 
        request.resource.data.usado == true
      );
      allow delete: if false; 
    }

    match /referralCodes/{code} {
      allow get: if true;
      allow create: if isSignedIn() && request.auth.uid == request.resource.data.userId;
      allow update, delete: if false;
    }

    match /referrals/{referralId} {
      allow get: if (isSignedIn() && (request.auth.uid == resource.data.referrerId || request.auth.uid == resource.data.referredId)) || (request.auth == null);
      allow list: if isSignedIn();
      allow create: if isSignedIn() && request.auth.uid == request.resource.data.referredId;
      allow update: if (isSignedIn() && request.auth.uid == resource.data.referredId) || (request.auth == null); 
      allow delete: if false;
    }

    match /users/{userId} {
      allow get: if isOwner(userId) || (request.auth == null);
      allow list: if false;
      allow create: if isOwner(userId);
      allow update: if isOwner(userId) || (request.auth == null);
      allow delete: if isOwner(userId);

      match /accounts/{userAccountId} {
        allow get: if isOwner(userId) || (request.auth == null);
        allow list, create: if isOwner(userId);
        allow update: if isOwner(userId) || (request.auth == null);
        allow delete: if isOwner(userId);

        match /depositTransactions/{depositTransactionId} {
          allow get: if isOwner(userId) || (request.auth == null);
          allow list, create: if isOwner(userId);
          allow update: if isOwner(userId) || (request.auth == null);
          allow delete: if isOwner(userId);
        }
      }

      match /investments/{investmentId} {
        allow get, list, create, update, delete: if isOwner(userId);
      }
    }
  }
}
