
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /tokens_resgate/{tokenId} {
      allow get: if isSignedIn();
      // Apenas o sistema ou o bot (via Admin SDK) pode criar ou atualizar os tokens de forma segura.
      // O usuário final apenas 'consome' via aplicação que valida o código.
      allow create, update, delete: if false; 
    }

    match /referralCodes/{code} {
      allow get: if true;
      allow create: if isSignedIn() && request.auth.uid == request.resource.data.userId;
      allow update, delete: if false;
    }

    match /referrals/{referralId} {
      allow get: if (isSignedIn() && (request.auth.uid == resource.data.referrerId || request.auth.uid == resource.data.referredId)) || (request.auth == null);
      allow list: if isSignedIn();
      allow create: if isSignedIn() && request.auth.uid == request.resource.data.referredId;
      allow update: if (isSignedIn() && request.auth.uid == resource.data.referredId) || (request.auth == null); 
      allow delete: if false;
    }

    match /users/{userId} {
      allow get: if isOwner(userId) || (request.auth == null);
      allow list: if false;
      allow create: if isOwner(userId);
      allow update: if isOwner(userId) || (request.auth == null);
      allow delete: if isOwner(userId);

      match /accounts/{userAccountId} {
        allow get: if isOwner(userId) || (request.auth == null);
        allow list, create: if isOwner(userId);
        allow update: if isOwner(userId) || (request.auth == null);
        allow delete: if isOwner(userId);

        match /depositTransactions/{depositTransactionId} {
          allow get: if isOwner(userId) || (request.auth == null);
          allow list, create: if isOwner(userId);
          allow update: if isOwner(userId) || (request.auth == null);
          allow delete: if isOwner(userId);
        }
      }

      match /investments/{investmentId} {
        allow get, list, create, update, delete: if isOwner(userId);
      }
    }
  }
}
